##
upstream {{ blog_server_name }} {
  {% for host in groups['web'] %}
	server {{ host }}:{{ blog_server_port }};
  {% endfor %}
}

server {
	listen {{ blog_proxy_https_port }} ssl;
	ssl_certificate {{ ssl_certifi }};
	ssl_certificate_key {{ ssl_certifi_key }};
	server_name {{ blog_server_name }};
	location / {
		proxy_pass http://{{ blog_server_name }};
		include proxy_params;
	}
}
server {
	listen {{ blog_proxy_port }};
	server_name {{ blog_server_name }};

	return 302 https://{{ blog_server_name }}$request_uri;
}


